# Copyright 2024 Chainguard, Inc.
# SPDX-License-Identifier: Apache-2.0

name: Code Style

permissions:
  contents: read

on:
  pull_request:
    branches:
      - "main"
  push:
    branches:
      - "main"

jobs:
  yrcompile:
    name: check yr compile
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@0634a2670c59f64b4a01f0f96f84700a4088b9f0 # v2.12.0
        with:
          egress-policy: audit

      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false

      - name: Run make yara-x-compile
        run: |
          make yara-x-compile
          ret=$?
          if [[ $ret -ne 0 ]]; then
            echo "Rule compilation failed; address findings and commit the changes"
            exit 1
          fi

  yrfmt:
    name: check yr fmt
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@0634a2670c59f64b4a01f0f96f84700a4088b9f0 # v2.12.0
        with:
          egress-policy: audit

      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false

      - name: Install yara-x
        run: |
          wget https://github.com/VirusTotal/yara-x/releases/download/v0.10.0/yara-x-v0.10.0-x86_64-unknown-linux-gnu.gzip -O yara-x.gzip
          tar -xzvf yara-x.gzip && mv yr /usr/local/bin/ && rm yara-x.gzip
      - name: Verify yr installation
        run: |
          yr --version
      - name: Run yr fmt
        run: |
          find rules -type f -name "*.yara" | xargs -n 1 -I {} yr fmt {}
          if [[ -n $(git status -s) ]]; then
            echo "Rule files updated; please run yr fmt locally and commit the changes"
            exit 1
          fi

  gofmt:
    name: check gofmt
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@0634a2670c59f64b4a01f0f96f84700a4088b9f0 # v2.12.0
        with:
          egress-policy: audit

      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false

      - name: Set up Go
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version-file: go.mod
          check-latest: true

      - uses: chainguard-dev/actions/gofmt@fb25e25ce9d833614e70fa612dabc960d88b610b # main
        with:
          args: -s

  goimports:
    name: check goimports
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@0634a2670c59f64b4a01f0f96f84700a4088b9f0 # v2.12.0
        with:
          egress-policy: audit

      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false

      - name: Set up Go
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version-file: go.mod
          check-latest: true

      - uses: chainguard-dev/actions/goimports@fb25e25ce9d833614e70fa612dabc960d88b610b # main

  golangci-lint:
    name: golangci-lint
    runs-on: ubuntu-latest
    container:
      image: cgr.dev/chainguard/wolfi-base@sha256:91ed94ec4e72368a9b5113f2ffb1d8e783a91db489011a89d9fad3e3816a75ba
      options: >-
        --cap-add DAC_OVERRIDE
        --cap-add SETGID
        --cap-add SETUID
        --cap-drop ALL
        --cgroupns private
        --cpu-shares=4096
        --memory-swappiness=0
        --security-opt no-new-privileges
        --ulimit core=0
        --ulimit nofile=1024:1024
        --ulimit nproc=4096:4096
    steps:
      - name: Install dependencies
        run: |
          apk update
          apk add curl findutils git go nodejs yara-x

      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false

      - name: Trust repository
        run: git config --global --add safe.directory "${GITHUB_WORKSPACE}"

      - name: Run golangci-lint
        run: |
          make golangci-lint-lint
