name: Update third-party rules

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */12 * * *"

permissions:
  contents: read

jobs:
  update:
    if: ${{ github.repository }} == 'chainguard-dev/malcontent'
    runs-on: mal-ubuntu-latest-8-core
    container:
      image: cgr.dev/chainguard/wolfi-base@sha256:91ed94ec4e72368a9b5113f2ffb1d8e783a91db489011a89d9fad3e3816a75ba
      options: >-
        --cap-add DAC_OVERRIDE
        --cap-add SETGID
        --cap-add SETUID
        --cap-drop ALL
        --cgroupns private
        --cpu-shares=8192
        --memory-swappiness=0
        --security-opt no-new-privileges
        --ulimit core=0
        --ulimit nofile=1024:1024
        --ulimit nproc=4096:4096
    permissions:
      contents: write
      id-token: write
      pull-requests: write
    steps:
      - name: Install dependencies
        run: |
          apk update
          apk add bash curl findutils gh git go nodejs perl upx xz yara-x
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Trust repository
        run: git config --global --add safe.directory "${GITHUB_WORKSPACE}"
      - uses: chainguard-dev/actions/setup-gitsign@fb25e25ce9d833614e70fa612dabc960d88b610b
      - name: Set up Octo-STS
        uses: octo-sts/action@6177b4481c00308b3839969c3eca88c96a91775f # v1.0.0
        id: octo-sts
        with:
          scope: chainguard-dev/malcontent
          identity: third-party

      - name: Run make update-third-party
        run: |
          make update-third-party
      - name: Run make refresh-test-data
        run: |
          make refresh-sample-testdata
      - name: Commit changes and create PR
        env:
          GH_TOKEN: ${{ steps.octo-sts.outputs.token }}
        run: |
          if [[ -n $(git status -s) ]]; then
            DATE=$(date +%F)
            BRANCH="third-party-rule-update-${DATE}"
            git checkout -b "${BRANCH}"
            git add .
            git commit -m "Update third-party rules as of ${DATE}"
            git push origin "${BRANCH}"

            gh pr create -t "Update third-party rules as of ${DATE}" -b "${DATE} third-party rule update for malcontent." -B main -H "${BRANCH}"
          fi
        shell: bash
